<!DOCTYPE html>
<html>
<head>
  <title>Song Duels</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/about.js"></script>
</head>
  <body>
    <div id="buttons">
    <p class="left_buttons"> <a  href="/home">Home</a></p>
    <p class="right_buttons"> <a  href="{{logout_url}}">Logout Here, {{nickname}}</a></p>
  </div>

    <div class="large_spacer"></div>
    <div class="small_spacer"></div>

    <div class= "content">
    <div class="small_spacer"></div>
    <h1 class="titles">Meet The Creator</h1>
  </div>
  <div class="spacer"></div>

    <div class= "content">
    <div class="small_spacer"></div>
    <div class="spacer"></div>

<div class="about_style" id="alia_section">
            <div id="alia_div">
              <img src="images/alias_picture.jpg" height="200">
              <p>Alia is from Libertyville, IL, and will be attending UC San Diego. She is passionate about coding and loves her dog Remy.</p>
            </div>
            <div class="spacer"></div>
</div>
    </div>

  </body>
</html>
