<!DOCTYPE html>
<html>
<head>
  <title>Song Duels</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/challenges.js"></script>
</head>
  <body>
    <div id="buttons">
    <p class="left_buttons"> <a  href="/home">Home</a></p>
    <p class="right_buttons"> <a  href="{{logout_url}}">Logout Here, {{user_in_datastore.nickname}}</a></p>
  </div>

    <div class="large_spacer"></div>
    <div class="small_spacer"></div>

    <div class="content">
    <div class="small_spacer"></div>
    <h1 class="titles">Your Challenges</h1>
    {%if received_list%}
      <p class="sub_titles">You have challenges to play!</p>
      {%for challenge in received_list%}
      <p id="origin_tag">Challenge From: {{challenge.origin.nickname}}</p>
      <p id="genre_tag">Genre: {{challenge.genre}}</p>
        <form id="play_form" action="/quiz" method="get">
        <p>
          <input name="quiz_type" type="hidden" value="old"></input>
          <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
          <div><input class="play_challenge" type="submit" value="Play"></input></div>
        </p>
      </form>
        <form id="delete_form" action="/challenges" method="get">
          <p>
            <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
            <div><input class="delete_challenge" type="submit" value="Delete"></input></div>
          </p>
        </form>
    </br>
      {%endfor%}
    {%else%}
    <p>No one has challenged you</p>
    {%endif%}
    <form action="/challengesetup" method="get">
    <p>
      <div><input class="big_btn" type="submit" value="New Challenge"></input></div>
    </p>
  </form>
  </div>

{%if sent_list%}
  <div class="spacer"></div>
  <div class="content">
  <div class="small_spacer"></div>
  <h1 class="titles">Sent Challenges</h1>
  <div id="sent_challenges">
      {%for challenge in sent_list%}
        <p id="origin_tag">{{challenge.origin.nickname}} vs {{challenge.target.nickname}}</p>
        <p id="genre_tag">Genre: {{challenge.genre}}</p>
      </br>
      {%endfor%}
    </div>
  </div>
{%endif%}

  <div class="spacer"></div>
  <div class="content">
  <div class="small_spacer"></div>
  <h1 class="titles">Past Challenge Results</h1>
  <div id="finished_challenges">
    {%if finished_list1%}
      {%for challenge in finished_list%}
        <p id="origin_tag">{{challenge.origin.nickname}} vs {{challenge.target.nickname}}</p>
        <p id="genre_tag">Genre: {{challenge.genre}}</p>
        <p id="winner_tag">Winner: {{challenge.winner.nickname}}</p>
        <form id="view_results" action="/challengeresults" method="get">
        <p>
          <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
          <div><input class="delete" type="submit" value="View Results"></input></div>
        </p>
        </form>
        <form id="delete_form" action="/challenges" method="get">
          <p>
            <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
            <div><input class="delete_challenge" type="submit" value="Delete"></input></div>
          </p>
        </form>
      </br>
      {%endfor%}
    {%endif%}
    {%if finished_list2%}
      {%for challenge in finished_list2%}
        <p>{{challenge.origin.nickname}} vs {{challenge.target.nickname}}</p>
        <p id="genre_tag">Genre: {{challenge.genre}}</p>
        <p id="winner_tag">Winner: {{challenge.winner.nickname}}</p>
        <form id="view_results" action="/challengeresults" method="get">
        <p>
          <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
          <div><input class="delete" type="submit" value="View Results"></input></div>
        </p>
        </form>
        <form id="delete_form" action="/challenges" method="get">
          <p>
            <input name="challenge_key" type="hidden" value={{challenge.challenge_key}} id="challenge_key"></input>
            <div><input class="delete_challenge" type="submit" value="Delete"></input></div>
          </p>
        </form>
      </br>
      {%endfor%}
    {%endif%}
    {%if not finished_list1 and not finished_list2 %}
    <p>You haven't finished any challenges!</p>
    {%endif%}
    </div>
  </div>

  <div class="spacer"></div>

  </body>
</html>
